#header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-sm:nth-child(2){
    display: flex;
    justify-content: flex-end;
}
@media screen and (min-width: 651px){
    
}

@media screen and (max-width: 650px){
    body, .row:nth-child(2){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #header{
        display: flex;
        flex-direction: column;
    }
    .input-group{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .button-group{
        display: flex;
        justify-content: center;
    }
    body .row .col-sm{
        display: flex;
        justify-content: center;
    }
    .input-field{
        width: 100%;
    }
    .table-container{
        max-width: 100%;
    }
}