#header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-sm:nth-child(2){
    display: flex;
    justify-content: flex-end;
}

.input-container{
    display: flex;
}

.btn-light{
    border: 1px darkgray solid;
}

.input-container{
    padding: 10px 0;
}